<!doctype html>
<html>
<head>
	<title>Get Post</title>
	<style>
		table, td
		{
			border: 2px solid blue;
		}

		table
		{
			background: yellow;
		}
	</style>
</head>
<body>
	{{{body}}}
</body>
</html>
