<h1> GET Request </h1>

	<div>Values are: </div>

<table>
	<th> Get Request Values </th>
	{{#each dataList}}
		<tr>
			<td> {{this.index}}</td>
			<td> {{this.input}}</td>
		</tr>
	{{/each}}
 </table>
